@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather","Inter", serif;
}
/* banner */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid black; */
    min-height: 600px;
    margin-top: 20px;
    background-image: url('../images/Banner\ Image.png');
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    
}
.banner-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.banner-content p,h1{
    color: white;
    font-family: "Merriweather";
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

/* 65% section */
.section-1{
    width: 802px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    /* border: 2px solid red; */
}
.scound-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scound-section-content h1{
    color: rgb(255, 0, 0);
font-family: 'Inter';
font-size: 88px;
font-weight: 700;
text-align: center;
margin-bottom: 20px; 
}
.scound-section-content p{
    color: rgb(255, 0, 0);
font-family: 'Inter';
font-size: 24px;
font-weight: 500;
text-align: center;
margin-bottom: 10px;
}
.scound-section-content h3{
    color: rgb(7, 2, 17);
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.img-container{
    width:"802px";
    height:"500px"
}
.img-container img{
    width: 100%;
    height: 100%;
}

/* party css */
.party-content{
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid black;
    min-height: 600px;
    background-image: url('../images/Vectorrr.png'); 
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    margin-bottom: 10px;
    
}
.left-content{
    width: 50%;
    height: 600px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-content h1{
    color: rgb(255, 255, 255);
font-family: 'Merriweather';
font-size: 64px;
font-weight: 900;
text-align: left;
}

.left-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 80px;


}
#midnight-btn{
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    /* border: 2px solid yellow; */
    margin-top: 10px;
    width: 75%;
}

.right-content{
    width: 50%;
    /* height: 600px; */
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right-content img{
    width: 349.16px;
    height: 464.65px;
    
}
/* park hotel */
.park-hotel{
    margin: 0 auto;
    margin-top: 70px;
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    text-align: center;
    padding-top: 150px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.park-p{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: red;
    margin-bottom: 10px;
}
.park-hotel p{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: black; 
    margin-bottom: 10px;  
}

/* comming soon */
.coming-soon{
    margin: 0 auto;
    margin-top: 70px;
    width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.div-1{
    width: 440px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */

}
.div-1 p{
    font-family: 'Inter';
    color: red;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
}
.div-1 h4{
    font-family: 'Merriweather';
font-size: 48px;
font-weight: 900;
color: black;
margin-bottom: 20px;
}
.small{
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400; 
    margin-top: 20px;   
}

.div-2{
    width: 440px; 
    
    /* border: 2px solid black; */
}
.div-2 img{
    border: 10px solid red;
    padding: 25px;
    border-radius:50%;
    
}

.div-3{
    width: 440px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin-left: 50px;
}
.div-3 img{
    margin-top: 25px;
    width: 140px;
    height: 140px;
}
.div-3 h4{
    color: rgb(255, 0, 0);
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700; 
    margin-bottom: 15px;   
}
/* holiday */
.holiday{
    width: 1068px;
    height: 260px; 
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    /* border: 2px solid black; */
    text-align: center;   
}
.holiday p{
    font-weight: 600;
    font-size: 24px;
    font-family: 'Inter';
}
.holiday h1{
    font-size: 62px;
    font-weight: 900;
    font-family: 'Merriweather';
    color: black;
    margin-top: 20px;
}
#holiday{
    color: red;
}
#lorem{
    color: rgba(7, 2, 17, 0.6);
    margin-top: 30px;
    font-style: 10px;
    font-family: 'Inter';
}
.holiday-box{
    width: 1320px;
    height: 662px;
    margin: 0 auto;
    /* border: 2px solid black; */
    background-image: url('../images/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    
}
.box-1{
    width: 60%;
    /* border: 2px solid black; */
}
.box-1 img{
  width:700px;
} 
.box-2{
    width: 40%;
    /* border: 2px solid black; */
    padding-left: 150px;
    padding-top: 80px;
    
}